<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Test</title>
  </head>
  <body>
      <!-- Nav -->
    <div class="navbar">
        <a href="#"><h2 class="txt-lg">Zapplicant</h2></a>
        <div class="dropdown float-right p2">
          <button class="dropbtn"><span class="txt-md">Notifcations
            <span class="circle pulse"><i class="far fa-bell"></i></span>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
      <!-- Framework Tests -->
    <div class="">
    <div class="grid gap-1">
      <!-- Search Container -->
      <div class="card-xxl bg-secondary p2 rounded">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore
        suscipit recusandae exercitationem incidunt quibusdam laborum quisquam
        natus excepturi optio ipsum, dolor similique debitis labore pariatur
        nemo aliquam illo fugiat. Ipsa mollitia, quo earum perferendis debitis
        enim modi iusto. Facilis nobis itaque laudantium sunt omnis.
      </div>
      <!-- Appllicant Card -->
      <div class="card-xxl bg-primary p1 rounded">
        <div class="grid-card">
        <img src="./blank-profile-picture-973460_640.png" alt="" class="avatar-img">
          <h1>John Doe</h1>
        </div>
        <div>
          <p>Email: Johndoe@gmail.com</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae earum nesciunt, 
            reiciendis aspernatur similique molestias quod atque laborum enim in quia hic architecto 
            vitae delectus expedita ducimus officia reprehenderit fuga excepturi officiis voluptates. 
            Labore aspernatur, deserunt vero doloribus iure amet id odio veniam excepturi blanditiis.
          </p>
        </div>
        <div>
          <h3>Skills</h3>
          <ul>  
            <li>Java</li>
            <li>PHP</li>
            <li>React</li>
            <li>Mongo</li>
          </ul>
        </div>
        <div>
          <button class="btn btn-dark">Resume</button>
          <button class="btn btn-light">Edit</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Footer -->
    <footer class="bg-dark">
        <div class="container">
          <div class="footer-cols text-primary">
    
            <ul>
              <li>Zapplicant</li>
              <li>
                <a href="#">Zapplicant & Business</a>
              </li>
              <li>
                <a href="#">Mobile App</a>
              </li>
              <li>
                <a href="#">Learning</a>
              </li>
              <li>
                <a href="#">Jobs</a>
              </li>
            </ul>
    
            <ul>
              <li>About Us</li>
              <li>
                <a href="#">News</a>
              </li>
              <li>
                <a href="#">Zapplicant Leadership</a>
              </li>
              <li>
                <a href="#">Investors</a>
              </li>
              <li>
                <a href="#">Events</a>
              </li>
              <li>
                <a href="#">Contact Zapplicant</a>
              </li>
            </ul>
    
          </div>
        </div>
        <div class="footer-bottom txt-right text-secondary">
          Copyright &copy; 2021 Zapplicant
        </div>
      </footer>

    <script src="./script.js"></script>
  </body>
</html>
