<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css"
      integrity="sha512-7VGuxKU1BFMmA+dC7NiW8jF0YOIe6bibjUBr42unVtEsI/UYzXMS3nkgNvmsY4yqauxeiEs4bXF6fPLsCuxN/A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <footer class="footer has-background-primary has-text-centered">
      <div class="columns">
          <div class="column">
              <ul class="has-text-dark">
                  <li><a href="#" class="is-size-5 has-text-danger">Zapplicant</a></li>
                  <li>Bussiness Solutions</li>
                  <li>Mobile App</li>
                  <li>Careers</li>
              </ul>
          </div>
          <div class="column">
            <ul class="has-text-dark">
                <li><a href="#" class="is-size-5 has-text-danger">About Us</a></li>
                <li>Contact Us</li>
                <li>Leadership</li>
                <li>Investors</li>
            </ul>
        </div>
        <div class="column">
            <ul class="has-text-dark">
                <li><a href="#" class="is-size-5 has-text-danger">Community</a></li>
                <li>Events</li>
                <li>Locations</li>
                <li>News</li>
            </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
