<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Test</title>
</head>
<body>
    <nav class="navbar">
        <a href="#">Zapplicant</a>
        <div class="dropdown">
            <button class="dropbtn">
                Settings
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Lorem 1</a>
                <a href="#">Lorem 2</a>
                <a href="#">Lorem 3</a>
                <a href="#">Lorem 4</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card-1">
            Main Bar
        </div>
        <div class="card-2">
            Side Bar
        </div>
    </div>

    <script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous"></script>
    <script src="./script.js"></script>
</body>
</html>