<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Test</title>
  </head>
  <body>
      <!-- Nav -->
    <div class="navbar">
        <a href="#"><h2 class="txt-lg">Zapplicant</h2></a>
        <div class="dropdown float-right p2">
          <button class="dropbtn"><span class="txt-md">Notifcations
            <span class="circle pulse"><i class="far fa-bell"></i></span>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
      <!-- Framework Tests -->
    <div class="container">
      <p class="txt-l">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum culpa
        iste ratione nisi laborum perspiciatis praesentium repellendus voluptate
        veniam dolorum!
      </p>
      <button class="btn btn-primary">Primary!</button>
      <button class="btn btn-secondary">Secondary!</button>
      <button class="btn btn-alert">Alert!</button>
      <button class="btn btn-light">Light!</button>
      <button class="btn btn-dark">Dark!</button>
      <a href="#">www.google.com</a>
    <div class="container grid">
      <div class="card-lg bg-primary p1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore
        suscipit recusandae exercitationem incidunt quibusdam laborum quisquam
        excepturi optio ipsum, dolor similique debitis labore pariatur nemo
        aliquam illo fugiat. Ipsa mollitia, quo earum perferendis debitis enim
        modi iusto. Facilis nobis itaque laudantium sunt omnis.
      </div>
      <div class="card-lg bg-secondary p2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore
        suscipit recusandae exercitationem incidunt quibusdam laborum quisquam
        natus excepturi optio ipsum, dolor similique debitis labore pariatur
        nemo aliquam illo fugiat. Ipsa mollitia, quo earum perferendis debitis
        enim modi iusto. Facilis nobis itaque laudantium sunt omnis.
      </div>
    </div>
</div>
    <!-- Footer -->
    <footer class="bg-dark">
        <div class="container">
          <div class="footer-cols text-primary">
    
            <ul>
              <li>Zapplicant</li>
              <li>
                <a href="#">Zapplicant & Business</a>
              </li>
              <li>
                <a href="#">Mobile App</a>
              </li>
              <li>
                <a href="#">Learning</a>
              </li>
              <li>
                <a href="#">Jobs</a>
              </li>
            </ul>
    
            <ul>
              <li>About Us</li>
              <li>
                <a href="#">News</a>
              </li>
              <li>
                <a href="#">Zapplicant Leadership</a>
              </li>
              <li>
                <a href="#">Investors</a>
              </li>
              <li>
                <a href="#">Events</a>
              </li>
              <li>
                <a href="#">Contact Zapplicant</a>
              </li>
            </ul>
    
          </div>
        </div>
        <div class="footer-bottom txt-right text-secondary">
          Copyright &copy; 2021 Zapplicant
        </div>
      </footer>

    <script src="./script.js"></script>
  </body>
</html>
