<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Test</title>
  </head>
  <body>
    <div class="container">
      <p class="txt-l">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum culpa
        iste ratione nisi laborum perspiciatis praesentium repellendus voluptate
        veniam dolorum!
      </p>
      <button class="btn btn-primary">Primary!</button>
      <button class="btn btn-secondary">Secondary!</button>
      <button class="btn btn-alert">Alert!</button>
      <button class="btn btn-light">Light!</button>
      <button class="btn btn-dark">Dark!</button>
      <a href="#">www.google.com</a>
    </div>
    <div class="container grid">
      <div class="card-lg bg-primary p1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore
        suscipit recusandae exercitationem incidunt quibusdam laborum quisquam
        excepturi optio ipsum, dolor similique debitis labore pariatur nemo
        aliquam illo fugiat. Ipsa mollitia, quo earum perferendis debitis enim
        modi iusto. Facilis nobis itaque laudantium sunt omnis.
      </div>
      <div class="card-lg bg-secondary p2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius inventore
        suscipit recusandae exercitationem incidunt quibusdam laborum quisquam
        natus excepturi optio ipsum, dolor similique debitis labore pariatur
        nemo aliquam illo fugiat. Ipsa mollitia, quo earum perferendis debitis
        enim modi iusto. Facilis nobis itaque laudantium sunt omnis.
      </div>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
