<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./loginland.css">
    <title>Test</title>
</head>
<body>
<!-- LOGIN FORM -->
    <div class="grid">
        <form action="" method="">
            <!-- AVATAR -->
            <!-- LEAVING THIS AS A POTENTIAL OPTION -->
            <!-- <div class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
            </div> -->
            <!-- FORM CONTAINER -->
            <div class="column">
                <div class="container">
                    <label for="uname"><b>Company Name</b></label>
                    <input type="text" placeholder="Enter Company Name" name="cname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button>
                    <button type="">View Membership Prices</button>
                    <!-- LEAVING THIS AS A POTENTIAL OPTION -->
                    <!-- <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label> -->
                </div>
            </div>
            <!-- CANCEL, FORGOT PASSWORD CONTAINER -->
            <!-- LEAVING THIS AS A POTENTIAL OPTION -->
            <!-- <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span> -->
        </form>
    </div>
</body>
</html>