* {
    box-sizing: border-box;
    /* float: none; */
}

body {
    background-image:
        url("handshake.jpeg");
    background-position-x: 50%;
    background-position-y: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: color;
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    align-items: center;
    align-content: center;
    align-self: center;
    float: left;
    justify-content: center;
    width: 25%;
    padding: 4px 4px;
}