<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./signup.css">
    <title>Test</title>
</head>
<body>
<!-- SIGN UP CARDS -->
    <div class="row">
        <div class="column"> <!-- MONTHLY PLAN -->
            <div class="card">
                <h3 class="cardprice-title">69</h3>
                <h4>Basic Monthly Plan</h4>
                <p class="bennies1">Applicant Notif's</p>
                <p class="bennies2">Applicant Notes</p>
                <p class="bennies3">And more!</p>

            </div>
        </div>
        <div class="column"> <!-- 6 MONTH PLAN -->
            <div class="card">
                <h3 class="cardprice-title">69</h3>
                <h4>6 Month Plan</h4>
                <p class="bennies1">Applicant Notif's</p>
                <p class="bennies2">Applicant Notes</p>
                <p class="bennies3">Alerts</p>

            </div>
        </div>
        <div class="column"> <!-- 12 MONTH PLAN -->
            <div class="card">
                <h3 class="cardprice-title">69</h3>
                <h4>12 Month Plan</h4>
                    <p class="bennies1">Applicant Notif's</p>
                    <p class="bennies2">Applicant Notes</p>
                    <p class="bennies3">Custom Alerts</p>

            </div>
        </div>
    </div>

</body>
</html>