<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.css"
      integrity="sha512-7VGuxKU1BFMmA+dC7NiW8jF0YOIe6bibjUBr42unVtEsI/UYzXMS3nkgNvmsY4yqauxeiEs4bXF6fPLsCuxN/A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./applicantCard.css" />
    <title>Schedule</title>
  </head>
  <body>
    <!-- Nav -->
    <nav class="navbar is-primary column is-narrow">
      <div class="navbar-brand">
        <a href="#" class="navbar-item is-size-3">Zapplicant</a>
      </div>
      <div class="navbar-end">
        <a href="#" class="navbar-item"
          >Settings<i class="ml-2 fa fa-cog"></i
        ></a>
      </div>
    </nav>
    <!-- Content -->
    <div class="columns is-fullheight-100vh m-5">
      <!-- Schedule -->
      <div class="column card mr-5">
        <div class="columns card-header-title has-background-primary">
          <div class="column is-centered is-size-4">Applicants</div>
          <div class="column is-centered">
            <div class="field has-addons is-pulled-right">
              <div class="control">
                <input type="text" class="input" placeholder="Name" />
              </div>
              <div class="control">
                <a href="" class="button is-info">
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="columns card-header-title has-background-info">
          <div class="column">
            Name<i class="ml-2 fas fa-sort" id="sort"></i>
          </div>
          <div class="column">
            Position<i class="ml-2 fas fa-sort" id="sort"></i>
          </div>
        </div>
        <ul>
          <div class="columns has-background-grey-lighter border-bottom-1">
            <div class="column">John Smith</div>
            <div class="column">Junior Back-End Dev</div>
          </div>
          <div class="columns has-background-grey-lighter border-bottom-1">
            <div class="column">Kevin Jones</div>
            <div class="column">Senior Front-End Dev</div>
          </div>
          <div class="columns has-background-grey-lighter border-bottom-1">
            <div class="column">Sarah Soda</div>
            <div class="column">Junior Front-End Dev</div>
          </div>
          <div class="columns has-background-grey-lighter border-bottom-1">
            <div class="column">John Green</div>
            <div class="column">Senior Back-End Dev</div>
          </div>
          <div class="columns has-background-grey-lighter border-bottom-1">
            <div class="column">Britany Britianica</div>
            <div class="column">Senior Full-Stack Dev</div>
          </div>
          <div class="columns has-background-grey-lighter border-bottom-1">
            <div class="column">Steve Rodgers</div>
            <div class="column">Junior Full-Stack Dev</div>
          </div>
        </ul>
      </div>
      <!-- Notifs -->
      <div class="column card is-two-thirds">
        <div class="card-content border-bottom-1">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="./blank-profile-picture-973460_640.png" alt="" />
              </figure>
            </div>
            <div class="media-content">
              <p class="is-size-3">John Smith</p>
              <p class="is-size-5">Junior Back-End Dev</p>
              <p class="is-size-6">johnsmith@johnnyboy.com</p>
            </div>
            <div class="column">
              <div class="column">Status: Rejected</div>
              <div class="column">Interview Date: 04.20.21</div>
            </div>
          </div>
        </div>
        <div class="mt-3 message is-primary">
          <div class="message-header has-text-centered is-size-5">Skills</div>
          <div class="card-content has-text-centered">
            <ul class="skills-list">
              <li class="column">JavaScript</li>
              <li class="column">React</li>
              <li class="column">PHP</li>
              <li class="column">Express</li>
            </ul>
          </div>
        </div>
        <article class="message is-primary">
          <div class="message-header is-size-5">
            <p>Comments</p>
          </div>
          <div class="message-body has-text-black">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
            numquam temporibus eos id magni atque odit eveniet, quia amet,
            fugiat doloremque culpa quo dolorem cum nihil dicta reprehenderit
            rem? Quae ut odit eaque, expedita velit aperiam omnis corporis eum,
            nihil voluptate magnam deserunt repudiandae adipisci sequi tempora
            dolor repellendus mollitia excepturi possimus, placeat accusamus
            libero nisi vero harum! Odit fugiat laborum enim? Obcaecati veniam
            exercitationem iste perferendis dolore cum quae hic, fuga sint odit
            vel ipsam doloribus facere beatae corrupti?
          </div>
        </article>
      </div>
    </div>
    <!-- Footer -->
    <footer
      class="footer has-background-primary has-text-centered column is-narrow"
    >
      <div class="columns">
        <div class="column">
          <ul class="has-text-dark">
            <li>
              <a href="#" class="is-size-5 has-text-danger">Zapplicant</a>
            </li>
            <li>Bussiness Solutions</li>
            <li>Mobile App</li>
            <li>Careers</li>
          </ul>
        </div>
        <div class="column">
          <ul class="has-text-dark">
            <li>
              <a href="#" class="is-size-5 has-text-danger">About Us</a>
            </li>
            <li>Contact Us</li>
            <li>Leadership</li>
            <li>Investors</li>
          </ul>
        </div>
        <div class="column">
          <ul class="has-text-dark">
            <li>
              <a href="#" class="is-size-5 has-text-danger">Community</a>
            </li>
            <li>Events</li>
            <li>Locations</li>
            <li>News</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
